<ul class="nav nav-tabs mb-1">
  <li class="nav-item">
    <a
      {{action "changeTab" "indicators"}}
      class="nav-link {{if (or (eq activeTab 'indicators') (not activeTab)) 'active'}}"
      href="#"
    >Indicators ({{details.indicators.length}})</a>
  </li>
  {{#if (or block.isLoadingDetails details.reports.length)}}
    <li class="nav-item">
      <a
        {{action "changeTab" "reports"}}
        class="nav-link {{if (eq activeTab 'reports') 'active'}}"
        href="#"
      >Reports
        {{#if block.isLoadingDetails}}
          {{fa-icon "spinner-third" fixedWidth=true spin=true}}
        {{else}}
          ({{details.reports.length}})
        {{/if}}</a>
    </li>
  {{/if}}
</ul>

{{#if (eq activeTab "indicators")}}
  {{#if details.noncommunitySearchResults}}
    <div class="non-community-indicators">
      {{#each details.noncommunitySearchResults as |hit index|}}
        {{#if (gt index 0)}}
          <hr />
        {{/if}}
        {{#if hit._source}}
          <h1 class="p-title">
            {{fa-icon "flame" fixedWidth=true}}
            Indicator Detail
          </h1>
          {{#if hit._source.cve.href}}
            <span class="p-key">Indicator Name:</span>
            <a
              href="{{hit._source.cve.href}}"
              class="p-link"
            >
              {{hit._source.title}}
              {{fa-icon "external-link-square" class="external-link-icon"}}
            </a>
          {{else}}
            <span class="p-key">Indicator Name:</span>
            <a
              href="{{hit._source.href}}"
              class="p-link"
            >
              {{hit._source.title}}
              {{fa-icon "external-link-square" class="external-link-icon"}}
            </a>
          {{/if}}
          {{#if hit._source.cve.mitre.body.raw}}
            <div>
              <span class="p-key">MITRE Description:</span>
              <span class="p-value">{{hit._source.cve.mitre.body.raw}}</span>
            </div>
          {{/if}}
          {{#if hit._source.mitre.body.raw}}
            <div>
              <span class="p-key">MITRE Description:</span>
              <span class="p-value">{{hit._source.mitre.body.raw}}</span>
            </div>
          {{/if}}
          {{#if hit._source.cve.mitre.created_at.timestamp}}
            <div>
              <span class="p-key">MITRE Created At:</span>
              <span class="p-value">
                {{moment-format
                  (unix hit._source.cve.mitre.created_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}
              </span>
            </div>
          {{/if}}
          {{#if hit._source.mitre.created_at.timestamp}}
            <div>
              <span class="p-key">MITRE Created At:</span>
              <span class="p-value">{{moment-format
                  (unix hit._source.mitre.created_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}
              </span>
            </div>
          {{/if}}
          {{#if hit._source.cve.mitre.last_observed_at.timestamp}}
            <div>
              <span class="p-key">MITRE Last Observed At:</span>
              <span class="p-value">
                {{moment-format
                  (unix hit._source.cve.mitre.last_observed_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}
              </span>
            </div>
          {{/if}}
          {{#if hit._source.mitre.last_observed_at.timestamp}}
            <div>
              <span class="p-key">MITRE Last Observed At:</span>
              <span class="p-value">{{moment-format
                  (unix hit._source.mitre.last_observed_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}
              </span>
            </div>
          {{/if}}
          {{#if hit._source.cve.nist.created_at.timestamp}}
            <div>
              <span class="p-key">NIST NVD Created At:</span>
              <span class="p-value">{{moment-format
                  (unix hit._source.cve.nist.created_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}
              </span>
            </div>
          {{/if}}
          {{#if hit._source.nist.created_at.timestamp}}
            <div>
              <span class="p-key">NIST NVD Created At:</span>
              <span class="p-value">
                {{moment-format
                  (unix hit._source.nist.created_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}
              </span>
            </div>
          {{/if}}
          {{#if hit._source.cve.nist.last_observed_at.timestamp}}
            <div>
              <span class="p-key">NIST NVD Last Observed At:</span>
              <span class="p-value">{{moment-format
                  (unix hit._source.cve.nist.last_observed_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}</span>
            </div>
          {{/if}}
          {{#if hit._source.nist.last_observed_at.timestamp}}
            <div>
              <span class="p-key">NIST NVD Last Observed At:</span>
              <span class="p-value">{{moment-format
                  (unix hit._source.nist.last_observed_at.timestamp)
                  "YYYY-MM-DD HH:mm:ss z"
                  timeZone=timezone
                }}</span>
            </div>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2}}
            <h1 class="p-title">{{fa-icon "star" fixedWidth=true}}CVSS v2 Detail: </h1>
          {{/if}}
          {{#if hit._source.nist.cvssv2}}
            <h1 class="p-title">{{fa-icon "star" fixedWidth=true}}CVSS v2 Detail: </h1>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.access_complexity}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.access_complexity}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.access_complexity}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.access_complexity}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.access_vector}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.access_complexity}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.access_vector}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.access_complexity}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.access_complexity}}
            <span class="p-key">Vector:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.access_vector}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.access_complexity}}
            <span class="p-key">Vector:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.access_vector}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.authentication}}
            <span class="p-key">Authentication:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.authentication}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.authentication}}
            <span class="p-key">Authentication:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.authentication}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.availability_impact}}
            <span class="p-key">Availability Impact:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.availability_impact}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.availability_impact}}
            <span class="p-key">Availability Impact:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.availability_impact}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.base_score}}
            <span class="p-key">Base Score:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.base_score}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.base_score}}
            <span class="p-key">Base Score:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.base_score}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.confidentiality_impact}}
            <span class="p-key">Confidentiality Impact:</span>
            <span
              class="p-value"
            >{{hit._source.cve.nist.cvssv2.confidentiality_impact}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.confidentiality_impact}}
            <span class="p-key">Confidentiality Impact:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.confidentiality_impact}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.exploitability_score}}
            <span class="p-key">Exploitability Score:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.exploitability_score}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.exploitability_score}}
            <span class="p-key">Exploitability Score:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.exploitability_score}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.impact_score}}
            <span class="p-key">Impact Score:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.impact_score}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.impact_score}}
            <span class="p-key">Impact Score:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.impact_score}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.integrity_impact}}
            <span class="p-key">Integrity Impact:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.integrity_impact}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.integrity_impact}}
            <span class="p-key">Integrity Impact:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.integrity_impact}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.severity}}
            <span class="p-key">Severity:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv2.severity}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv2.severity}}
            <span class="p-key">Severity:</span>
            <span class="p-value">{{hit._source.nist.cvssv2.severity}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv2.vector_string}}
            <span class="p-key">Vector String:</span>
            <a
              href="https://nvd.nist.gov/vuln-metrics/cvss/v2-calculator?vector=({{hit._source.cve.nist.cvssv2.vector_string}})"
              class="p-link"
            >{{hit._source.cve.nist.cvssv2.vector_string}}
              {{fa-icon "external-link-square" class="external-link-icon"}}</a>
          {{/if}}
          {{#if hit._source.nist.cvssv2.vector_string}}
            <span class="p-key">Vector String:</span>
            <a
              href="https://nvd.nist.gov/vuln-metrics/cvss/v2-calculator?vector=({{hit._source.nist.cvssv2.vector_string}})"
              class="p-link"
            >
              {{hit._source.nist.cvssv2.vector_string}}
              {{fa-icon "external-link-square" class="external-link-icon"}}
            </a>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3}}
            <h1 class="p-title">{{fa-icon "stars" fixedWidth=true}}CVSS v3 Detail: </h1>
          {{/if}}
          {{#if hit._source.nist.cvssv3}}
            <h1 class="p-title">{{fa-icon "stars" fixedWidth=true}}CVSS v3 Detail: </h1>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.access_complexity}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.access_complexity}}
              /></span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.access_complexity}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.access_complexity}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.access_vector}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.access_complexity}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.access_vector}}
            <span class="p-key">Complexity:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.access_complexity}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.access_complexity}}
            <span class="p-key">Vector:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.access_vector}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.access_complexity}}
            <span class="p-key">Vector:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.access_vector}}<br /></span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.authentication}}
            <span class="p-key">Authentication:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.authentication}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.authentication}}
            <span class="p-key">Authentication:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.authentication}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.availability_impact}}
            <span class="p-key">Availability Impact:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.availability_impact}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.availability_impact}}
            <span class="p-key">Availability Impact:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.availability_impact}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.base_score}}
            <span class="p-key">Base Score:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.base_score}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.base_score}}
            <span class="p-key">Base Score:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.base_score}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.confidentiality_impact}}
            <span class="p-key">Confidentiality Impact:</span>
            <span
              class="p-value"
            >{{hit._source.cve.nist.cvssv3.confidentiality_impact}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.confidentiality_impact}}
            <span class="p-key">Confidentiality Impact:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.confidentiality_impact}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.exploitability_score}}
            <span class="p-key">Exploitability Score:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.exploitability_score}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.exploitability_score}}
            <span class="p-key">Exploitability Score:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.exploitability_score}}></span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.impact_score}}
            <span class="p-key">Impact Score:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.impact_score}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.impact_score}}
            <span class="p-key">Impact Score:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.impact_score}}<br /></span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.integrity_impact}}
            <span class="p-key">Integrity Impact:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.integrity_impact}}/></span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.integrity_impact}}
            <span class="p-key">Integrity Impact:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.integrity_impact}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.privileges_required}}
            <span class="p-key">Privileges Required:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.privileges_required}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.privileges_required}}
            <span class="p-key">Privileges Required:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.privileges_required}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.scope}}
            <span class="p-key">Scope:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.scope}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.scope}}
            <span class="p-key">Scope:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.scope}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.severity}}
            <span class="p-key">Severity:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.severity}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.severity}}
            <span class="p-key">Severity:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.severity}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.user_interaction}}
            <span class="p-key">User Interaction:</span>
            <span class="p-value">{{hit._source.cve.nist.cvssv3.user_interaction}}</span>
          {{/if}}
          {{#if hit._source.nist.cvssv3.user_interaction}}
            <span class="p-key">User Interaction:</span>
            <span class="p-value">{{hit._source.nist.cvssv3.user_interaction}}</span>
          {{/if}}
          {{#if hit._source.cve.nist.cvssv3.vector_string}}
            <span class="p-key">Vector String:</span>
            <a
              href="https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?vector={{hit._source.cve.nist.cvssv3.vector_string}}"
              class="p-link"
            >{{hit._source.cve.nist.cvssv3.vector_string}}
              {{fa-icon "external-link-square" class="external-link-icon"}}</a>
          {{/if}}
          {{#if hit._source.nist.cvssv3.vector_string}}
            <span class="p-key">Vector String:</span>
            <a
              href="https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?vector={{hit._source.nist.cvssv3.vector_string}}"
              class="p-link"
            >{{hit._source.nist.cvssv3.vector_string}}
              {{fa-icon "external-link-square" class="external-link-icon"}}</a><br />
          {{/if}}
          {{#if hit._source.cve.nist.configurations}}
            <h1 class="p-title">{{fa-icon "bug" fixedWidth=true}}CPEs: </h1>
            {{#each hit._source.cve.nist.configurations as |cpe|}}
              <span class="source-tag">{{cpe.cpe23_uri}}</span>
            {{/each}}
          {{/if}}
          {{#if hit._source.nist.configurations}}
            <h1 class="p-title">{{fa-icon "bug" fixedWidth=true}}CPEs: </h1>
            {{#each hit._source.nist.configurations as |cpe|}}
              <span class="source-tag">{{cpe.cpe23_uri}}</span>
            {{/each}}
          {{/if}}
          {{#if hit._source.cve.nist.products}}
            <h1 class="p-title">{{fa-icon "box-open" fixedWidth=true}}Products: </h1>
            {{#each hit._source.cve.nist.products as |product|}}
              <span class="source-tag">{{product.vendor_name}}
                {{product.product_name}}</span>
            {{/each}}
          {{/if}}
          {{#if hit._source.nist.products}}
            <h1 class="p-title">{{fa-icon "box-open" fixedWidth=true}}Products: </h1>
            {{#each hit._source.nist.products as |product|}}
              <span class="source-tag">{{product.vendor_name}}
                {{product.product_name}}</span>
            {{/each}}
          {{/if}}
          {{#if hit._source.cve.nist.references}}
            <h1 class="p-title">{{fa-icon "browser" fixedWidth=true}}External References:
            </h1>
            <div>
              {{#each hit._source.cve.nist.references as |ref|}}
                <span class="p-value"><a href="{{ref.url}}">{{ref.url}}
                    {{fa-icon
                      "external-link-square"
                      class="external-link-icon"
                    }}</a></span>
              {{/each}}
            </div>
          {{/if}}
          {{#if hit._source.nist.references}}
            <h1 class="p-title">{{fa-icon "browser" fixedWidth=true}}External References:
            </h1>
            <div>
              {{#each hit._source.nist.references as |ref|}}
                <span class="p-value"><a href="{{ref.url}}">{{ref.url}}
                    {{fa-icon
                      "external-link-square"
                      class="external-link-icon"
                    }}</a></span>
              {{/each}}
            </div>
          {{/if}}
        {{/if}}
      {{/each}}
    </div>
  {{/if}}

  {{#if details.indicators}}
    <div class="indicators">
      {{#each details.indicators as |object index|}}
        {{#if (gt index 0)}}
          <hr>
        {{/if}}
        <div class="mb-1">
          <a href="https://app.flashpoint.io/cti/malware/iocs/{{object.Attribute.fpid}}" class="p-link">View IOC in Flashpoint {{fa-icon "external-link-square" class="external-link-icon"}}</a>
        </div>
        {{#each-in object.Attribute.value as | key value |}}
          {{#if value}}
            <div>
              <span class="p-key">{{key}}: </span>
              <span class="p-value">{{value}}</span>
            </div>
          {{/if}}
        {{/each-in}}

        {{#if object.Attribute.category}}
          <div>
            <span class="p-key">Category:</span>
            <span class="p-value">{{object.Attribute.category}}</span>
          </div>
        {{/if}}

        {{#if object.Attribute.timestamp}}
          <div>
            <span class="p-key">Indicator Timestamp:</span>
            <span class="p-value">{{moment-format
                (unix object.Attribute.timestamp)
                "YYYY-MM-DD HH:mm:ss z"
                timeZone=timezone
              }}</span>
          </div>
        {{/if}}

        {{#if (gt object.Attribute.Event.Tags.length 0)}}
          <h1 class="p-title">{{fa-icon icon="tags" fixedWidth=true}} Event Tags</h1>
          <div class="mt-1">
            {{#each object.Attribute.Event.Tags as | tag |}}
              <span class="tag">{{tag}}</span>
            {{/each}}
          </div>
        {{/if}}

        {{#if object.Attribute.Event.href}}
          <div class="mb-1 mt-1 d-flex align-items-top justify-content-between">
            <div class="p-action p-wrap" {{on "click" (action "toggleEventDetails" object.Attribute.Event.href index)}}>
              {{object.Attribute.Event.info}}
            </div>
            <div class="p-action ml-1">
              {{#if object._eventLoading}}
                {{fa-icon icon="spinner-third" spin=true fixedWidth=true}}
              {{else if object._eventOpen}}
                {{fa-icon icon="chevron-up" fixedWidth=true}}
              {{else}}
                {{fa-icon icon="chevron-down" fixedWidth=true}}
              {{/if}}
            </div>
          </div>
          {{#if object._eventLoading}}
            <div class="mt-1">
              Loading event details ...
            </div>
          {{/if}}
        {{/if}}

        {{#if object._eventEnrichedError}}
          <div class="alert alert-danger mt-2 error-container">
            <div class="d-flex align-items-center justify-content-between">
              <div class="error-title">{{fa-icon icon="exclamation-triangle" fixedWidth=true}} Error Fetching Event Data</div>
              {{fa-icon icon="times" fixedWidth=true class="error-close" click=(action "clearError" index)}}
            </div>
            <div class="error-item">{{object._eventEnrichedError}}</div>
          </div>
        {{/if}}

        {{#if (and object._eventEnriched object._eventOpen)}}
          <div class="mt-2">
            {{#if object._eventEnriched.malware_description}}
              <div class="card scrollable">
                <div class="card-item">
                  {{{object._eventEnriched.malware_description}}}
                </div>
              </div>
              {{#each object._eventEnriched.Event.Attribute as | attribute |}}
                <div class="card">
                  <div class="card-title d-flex align-items-center justify-content-between">
                    <span class="p-value">{{attribute.category}}</span>
                    <span class="p-footnote">attribute</span>
                  </div>
                  <div class="card-item">
                    {{#each-in attribute.value as | key value |}}
                      {{#if value}}
                        <div>
                          <span class="p-key">{{key}}: </span>
                          <span class="p-value">{{value}}</span>
                        </div>
                      {{/if}}
                    {{/each-in}}
                    {{#if attribute.timestamp}}
                      <div>
                        <span class="p-key">Time:</span>
                        <span class="p-value">
                          {{moment-format
                            (unix attribute.timestamp)
                            "YYYY-MM-DD HH:mm:ss z"
                            timeZone=timezone
                          }}
                        </span>
                      </div>
                    {{/if}}
                    {{#if attribute.last_seen}}
                      <div>
                        <span class="p-key">Last Seen:</span>
                        <span class="p-value">
                          {{moment-format
                            (unix attribute.last_seen)
                            "YYYY-MM-DD HH:mm:ss z"
                            timeZone=timezone
                          }}
                        </span>
                      </div>
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            {{/if}}
          </div>
        {{/if}}


      {{/each}}
    </div>
  {{/if}}
{{/if}}

{{#if (eq activeTab "reports")}}
  {{#if block.isLoadingDetails}}
    <div class="mt-1 ml-1">
      {{fa-icon "spinner-third" size="lg" fixedWidth=true spin=true}}
    </div>
  {{else}}
    {{#if details.reports}}
      {{#if (eq details.reports.length 0)}}
        <div class="mt-2">No Reports</div>
      {{/if}}
      {{#each details.reports as |object index|}}
        {{#if (gt index 0)}}
          <hr />
        {{/if}}
        <h1 class="p-title">
          {{fa-icon "book-open" fixedWidth=true}}
          Report Detail
        </h1>
        {{#if object.title}}
          <div>
            <span class="p-key">Title:</span>
            <a href="{{object.platform_url}}" class="p-link">{{object.title}}
              {{fa-icon "external-link-square" class="external-link-icon"}}</a>
          </div>
        {{/if}}
        {{#if object.summary}}
          <div>
            <span class="p-key">Summary:</span>
            <span class="p-value p-block">{{object.summary}}</span>
          </div>
        {{/if}}
        {{#if object.posted_at}}
          <div>
            <span class="p-key">Posted:</span>
            <span class="p-value">{{object.posted_at}}</span>
          </div>
        {{/if}}
        {{#if object.updated_at}}
          <div>
            <span class="p-key">Last Updated:</span>
            <span class="p-value">{{object.updated_at}}</span>
          </div>
        {{/if}}
        {{#if object.tags}}
          <h1 class="p-title">
            {{fa-icon "tags" fixedWidth=true}}
            Report Tags
          </h1>
          <div>
            {{#each object.tags as |tag|}}
              <span class="tag">{{tag}}</span>
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
    {{/if}}
  {{/if}}
{{/if}}